#build mappát nem kell feltölteni
#kivéve az SDL dll file-okat
#és az assets mappát
!/build
/build/*
!/build/assets
!SDL2.dll
.cache/

#SDL szükséges, de nem kell githubra feltölteni az egészet, dependency-ként elég feltüntetni
/SDL/
